@media screen {
   DIV.heading {
                 background: url("/~rjn/images/anitaLaunchSmaller.jpg")  ;
                 background-repeat: repeat-y;
                 background-position: center;
   }
  DIV.heading H1 {	
                   padding:1em;             
                }
}             