

form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

form#scaleForm,form#runForm {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	width: 180px;
}

form#scaleForm fieldset, form#runForm fieldset {
	border: none;
	margin-bottom: 5px;
}

form#scaleForm legend, form#runForm legend {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 2px;
}

form#scaleForm li, form#runForm li  {
	background: rgba(255,255,255,.3);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px;
	list-style: none;
	padding: 5px 5px;
	margin-bottom: 1px;
        margin-left: -2em;
}

form#scaleForm label, form#runForm label  {
float: left;
}

@media screen {
   DIV.heading {
                 background-repeat: repeat-y;
                 background-position: center;
   }
  DIV.heading H1 {
                   padding-top:1em;             
                   }
}             
          
DIV.topNavigation,DIV.date {
   margin: 0;
   border-top: 0;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
}

@media screen {
   a.navigation {
      padding-left: 0.5em;
      padding-right: 0.5em;
      border-width: 0.25ex;
      border-style: solid;
      border-top-color: #9090f0;
      border-left-color: #9090f0;
      border-right-color: #303070;
      border-bottom-color: #303070;
   }
}

DIV.left {
   float: left;
   padding-right: 1em;
}
DIV.right {
   float: right;
   padding-left: 1em;
}

DIV.other {
   margin-left: 2em;
   vertical-align: top;
}




/*
For the AWARE web event display
*/

.event-topbar-2up {
	width:96%;
	height:5%;
/*	background-color: red;	*/
}

.event-topbar-4up {
	width:96%;
	height:5%;
/*	background-color: red;	*/
}

.column-label-2up {
	box-sizing: border-box;
	width: 45.5%;	
	height:100%;
	float: left;
	padding: 0 0 0 0;
	margin: 0px 0px 0px 0px;
	background-color: snow;
        text-align: center ;

}


.column-label-4up {
	box-sizing: border-box;
	width: 23%;	
	height:100%;
	float: left;
	padding: 0 0 0 0;
	margin: 0px 0px 0px 0px;
	background-color: snow;
        text-align: center ;

}


.event-leftbar-2up {
	width:6%;
	height:100%;
/*	background-color: red;	 */
	float:left;
}

.event-leftbar-4up {
	width:6%;
	height:100%;
/*	background-color: red;	 */
	float:left;
}

.event-top-corner-4up {	
	width: 100%;
	height: 5%;
	float: left;
}	



.event-top-corner-2up {	
	width: 100%;
	height: 5%;
	float: left;
}	

.row-spacer {
	width: 100%;	
	height:45%;
	float: left;
}
	

.row-label-4up {
	box-sizing: border-box;
	width: 100%;	
	height:18%;
	float: left;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
	background-color: snow;
	 text-align: center ;
}



.row-label-2up {
	box-sizing: border-box;
	width: 100%;	
	height:9%;
	float: left;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
	background-color: snow;
	 text-align: center ;
}
	
.rowlabel {	
         font-size:90%;
	 color: black;
}

.collabel {
         display:inline-block;	
         font-size:120%;	 
         text-align: center ;
	 color: black;
}

.waveform-container-4up {
	box-sizing: border-box;
	width: 22%;
	height: 18%;
	margin: 0px 0px 0px 0px;
	border: 1px solid #ddd;
	float: left;
	resize:both;
	overflow:hidden;
	min-width:20%;
	max-width:90%
	min-height:15%;
	max-height:60%;
}


.waveform-container-2up {
	box-sizing: border-box;
	width: 44%;
	height: 9%;
	margin: 0px 0px 0px 0px;
	border: 1px solid #ddd;
	float: left;
	resize:both;
	overflow:hidden;
	min-width:20%;
	max-width:90%
	min-height:15%;
	max-height:60%;
}



.waveform-placeholder {
	padding: 0px;
	width: 99%;
	height: 99%;
}

.double {
    width:  89%;
    height: 40%;
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #ddd;
	float: left;
	resize:both;
	overflow:hidden;
	min-width:20%;
	max-width:90%
	min-height:15%;
	max-height:60%;	
}

.lastBox {
    border-radius: 15px;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

div#titleContainer {
}
