
body {
   color: black;
   font-family: sans-serif;
}


div.body {
   padding-top: 1ex;
   clear: both;
}



H1 {
   font-family: sans-serif;

   font-weight: 900;
   margin-bottom:0;
   margin-top:0;
   text-align: center;
}

h2 {
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.5ex;
	text-align:center;
}

H2.navigation {
   font-size: smaller;
   font-family: sans-serif;
   padding-left:2px;

   margin-top: 1ex;
   margin-bottom: 0;
}

H2.centred {
   text-align: center;
}
H3.centred, H3.publications {
   text-align: center;
}

H3 {
/*   font-size: large;*/
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.25ex;
   margin-top: 1ex;
   padding-top: 0.75ex;
}

H4 {
/*   font-size: medium;*/
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0;
   margin-top: 1ex;
   padding-top: 0.75ex;
}


P {
  text-indent: 2em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.25ex;
}

P.navigation {
   border-top: 0;
   padding-top: 0;
   text-indent: 0;
   padding-left: 0em;
/*   line-height: 150%;*/
}


ADDRESS {
   margin-top: 2ex;
   text-align: right;
   font-size: smaller;
}

ul {
   padding-top: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: inside;
}

A.button {
   display: block;
   border-style: solid;
   border-width: 2px;
   border-top-color: #ffffff;
   border-left-color: #ffffff;
   border-right-color: #000000;
   border-bottom-color: #000000;
   padding-left: 1em;
   padding-right: 1em;
   text-align: center;
}

/* ---- Links ---- */
a:link {
    TEXT-DECORATION: none;
    COLOR: #1818c0;
}

a:visited {
    TEXT-DECORATION: none;
    COLOR: #900000;
}
a:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a:active {
    TEXT-DECORATION: underline;
}

a.navigation {
   TEXT-DECORATION: none;
   color: #ffffff;
}

a.navigation:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.navigation:hover {
   TEXT-DECORATION: none;
   COLOR: #00FFFF;
}
a.leftBar {
   TEXT-DECORATION: none;
   padding-left: 0.25em;
}

@media screen {
   a.leftBar {
      border-width: 0.2ex;
      border-style: solid;
/*      border-color: #808080;*/
      border-color: #99a3ad;
      display: block;
   }
}
a.leftBar:link {
    COLOR: #FFFFFF;
}

a.leftBar:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.leftBar:hover {
   COLOR: #00FFFF;
   background-color: #6060a0;
   border-style: solid;
   border-width: 0.2ex;
   border-top-color: #9090f0;
   border-left-color: #9090f0;
   border-right-color: #303070;
   border-bottom-color: #303070;
   text-decoration: none;
}

a.leftBar:active {
    TEXT-DECORATION: underline;
}

a.head:link {
    TEXT-DECORATION: none;
    COLOR: #000000;
}

a.head:visited {
    TEXT-DECORATION: none;
    COLOR: #000000;
}
a.head:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a.head:active {
    TEXT-DECORATION: underline;
}



div.leftBar {
   height:30%;
   width: 93%;
   padding-right:0;
   padding-left:0;
   background-color:#99a3ad;
   margin-top: 1em;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   z-index: 4;
   clear:both;
   padding-left: 2em;
   padding-right: 1em;
   float:left;
}

div.middle {
   width:90%;
   height:100%;
   float:left;
   background-color: white;
   color: black;
   font-family: sans-serif;
   padding-left: 2em;
   padding-right: 1em;
   padding-bottom: 0;
   padding-top: 1em;
   z-index: 2;
   clear:both;
}


div.formDiv {
	width:25%;
	float:left;
   background-color:#99a3ad;
}


div.plot-holder {
	height:500px;
	width:100%;
}

@media only screen and (min-width: 800px) {

   

  div.leftBar {
   	float: left ;
        width:20%;
        height:80%;
        position: absolute;
        top: 14ex;
   padding-left: 0em;
   padding-right: 0em;

   }


div.middle {
   position: absolute;
   top: 14ex;
   right: 0;
   clear:none;
   width:75%;
   height:100%;
  }

div.formDiv {
	width:100%;
}

}