
BODY {
/*   background-color: #b0b0ff;*/
   color: black;
   margin: 0;
   font-family: sans-serif;
}

DIV.heading {
   position: absolute;
   top: 1em;
   left:3em;
   right: 0;

   width:100%;
   height:12ex;
background: url(../images/araTestBed1.png)  ;
                 background-repeat: repeat-y;
                 background-position: center;
                 
   background-color: white;
   z-index:5;
}



DIV.vertical {
   position: absolute;
   left: 3em;
   top: 14ex;;
   width: 13em;
   padding-right:0;
   padding-left:0;
   float: left ;
/*   background-color: #808080; */
   background-color:#99a3ad;
   margin-top: 1ex;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   z-index: 4;
}

DIV.content {
   position: absolute;
   top: 14ex;
   left: 15em;
   right: 0;
   margin-top: 1ex;

   width:80%;
   height: 100%;
   float:left;
/*  padding-right:20px;
  padding-left:10px;*/


/*   background-color: #b0b0ff;*/
   background-color: white;
   color: black;
   font-family: sans-serif;

/*   padding-top: 2ex;*/
   padding-left: 2em;
   padding-right: 1em;
   padding-bottom: 0;
/*   min-width: 10em;*/
   z-index: 2;
}

DIV.body {
   padding-top: 1ex;
   clear: both;
}


PRE {
   background-color: #ffffff;
   color: #000000;
   margin: 2em; 
   color:purple;

   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
   margin-top: 0;
   margin-bottom: 0;
}


H1 {
   font-family: sans-serif;

   font-weight: 900;
   margin-bottom:0;
   margin-top:0;
   text-align: center;
}

H2 {
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.5ex;
}

H2.navigation {
   font-size: smaller;
   font-family: sans-serif;
   padding-left:2px;

   margin-top: 1ex;
   margin-bottom: 0;
}

H2.centred {
   text-align: center;
}
H3.centred, H3.publications {
   text-align: center;
}

H3 {
/*   font-size: large;*/
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.25ex;
   margin-top: 1ex;
   padding-top: 0.75ex;
}

H4 {
/*   font-size: medium;*/
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0;
   margin-top: 1ex;
   padding-top: 0.75ex;
}


P {
  text-indent: 2em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.25ex;
}

P.navigation {
   border-top: 0;
   padding-top: 0;
   text-indent: 0;
   padding-left: 0em;
/*   line-height: 150%;*/
}


ADDRESS {
   margin-top: 2ex;
   text-align: right;
   font-size: smaller;
}

ul {
   padding-top: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style: inside;
}

A.button {
   display: block;
   border-style: solid;
   border-width: 2px;
   border-top-color: #ffffff;
   border-left-color: #ffffff;
   border-right-color: #000000;
   border-bottom-color: #000000;
   padding-left: 1em;
   padding-right: 1em;
   text-align: center;
}

/* ---- Links ---- */
a:link {
    TEXT-DECORATION: none;
    COLOR: #1818c0;
}

a:visited {
    TEXT-DECORATION: none;
    COLOR: #900000;
}
a:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a:active {
    TEXT-DECORATION: underline;
}

a.navigation {
   TEXT-DECORATION: none;
   color: #ffffff;
}

a.navigation:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.navigation:hover {
   TEXT-DECORATION: none;
   COLOR: #00FFFF;
}
a.leftBar {
   TEXT-DECORATION: none;
   padding-left: 0.25em;
}

@media screen {
   a.leftBar {
      border-width: 0.2ex;
      border-style: solid;
/*      border-color: #808080;*/
      border-color: #99a3ad;
      display: block;
   }
}
a.leftBar:link {
    COLOR: #FFFFFF;
}

a.leftBar:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.leftBar:hover {
   COLOR: #00FFFF;
   background-color: #6060a0;
   border-style: solid;
   border-width: 0.2ex;
   border-top-color: #9090f0;
   border-left-color: #9090f0;
   border-right-color: #303070;
   border-bottom-color: #303070;
   text-decoration: none;
}

a.leftBar:active {
    TEXT-DECORATION: underline;
}

a.head:link {
    TEXT-DECORATION: none;
    COLOR: #000000;
}

a.head:visited {
    TEXT-DECORATION: none;
    COLOR: #000000;
}
a.head:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a.head:active {
    TEXT-DECORATION: underline;
}
