
<Files *.gz>
SetOutputFilter DEFLATE
</Files>

<files *.js.gz>
  AddType "text/javascript" .gz
  AddEncoding x-gzip .gz
</files>

<files *.css.gz>
  AddType "text/css" .gz
  AddEncoding x-gzip .gz
</files>

<files *.json.gz>
  AddType "application/json" .gz
  AddEncoding x-gzip .gz
</files>


<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|gz)$">
Header set Cache-Control "max-age=290304000, public"
</filesMatch>

<filesMatch "last*">
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>


 
<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>